@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>My Dojodachi</h1>
    <div class="attr-bar">
        <h3>Fullness: @ViewBag.my_dachi.fullness</h3>
        <h3>Happiness: @ViewBag.my_dachi.happiness</h3>
        <h3>Energy: @ViewBag.my_dachi.energy</h3>
        <h3>Meals: @ViewBag.my_dachi.meals</h3>
    </div>

    <div class="img-div">
        <div class="image" style="@ViewBag.picture"></div>
        <div class="text">
            <h4>@ViewBag.log</h4>
        </div>
    </div>

    <div class="action-btns">
        <a href="feed"><button class="btn btn-success feed">Feed</button></a>
        <a href="play"><button class="btn btn-success play">Play</button></a>
        <a href="work"><button class="btn btn-success work">Work</button></a>
        <a href="sleep"><button class="btn btn-success sleep">Sleep</button></a>
    </div>
    
</div>